*
html{
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust:100%;
}
body{
  padding-top: 50px;
}
.stylesheet{
  padding: 40px 15px;
  text-align: center;
}
.container{
  height: 960px;
  width: 960px;
  background-color: blue;
  margin: 0 auto;
}
.
